html{
    background-image: url("https://media0.giphy.com/media/v1.Y2lkPTc5MGI3NjExcDV5ZzA3bXMyNXczang3Ymlvam5xYXpienJ3cXEzMmtmc21uYmhpcyZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/rcBw7KJNQEJS5MFUiv/giphy.gif");
    background-size: cover;
    background-repeat: no-repeat;
    font-family: sans-serif;
    font-size: 11px;
}
body{
    width:600px;background:white;
    margin:auto;display:flex;}
h3{text-transform: uppercase;}
#izquierda img{
    width:100%;
    border-radius: 50%;
    margin-bottom: 30px;
}
#izquierda{
    flex:1;
    background:rgb(122, 0, 0);
    padding:20px;
    color:white;
}
#izquierda hr{
    margin: 35px 0;
    border: 0;
    border-top: 1px solid rgba(255,255,255,0.4);
}
#izquierda ul{
    margin: 0;
    padding-left: 0;
}
#izquierda li{
    list-style-position: inside;
}
#izquierda a {
    color: white;
    text-decoration: none;
}
#izquierda ul{
    list-style: none;
    padding-left: 0;
}
.skills li{
    margin-bottom: 8px;
}
.skill-bar{
    background: rgba(255,255,255,0.2);
    width: 100%;
    height: 5px;
    border-radius: 4px;
    margin-top: 4px;
    overflow: hidden;
}
.skill-level{
    background: white;
    height: 100%;
    border-radius: 4px;
}
#derecha{flex:4;padding:20px}
#derecha article{display:flex;align-items: center;gap:20px;}
#derecha article img{width: 50px;height: 50px;}
#derecha article *{padding: 0px;margin:5px;}